.battle-container {
    grid-column: span 9 / span 9;
    min-height: 500px;
    background-color: rgb(226, 189, 66);
    display: flex;
    flex-direction: column;
    
}
.battle-title {
    margin-inline: auto;
    margin-bottom: 0px;
}

.battle-scene {
    display: flex;
    gap: 10px;
    padding: 0px 30px 30px 30px;
    justify-content: space-between;
    
}

.battle-log {
    background-color: rgb(97, 197, 105);
    max-width:530px;
    width:max-content;
    flex:1;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px ;
}

.start-battle-btt{
    
}

.battle-text{
    margin-left: auto;
    margin-right: auto;
}

.player {
    display: flex;
    flex-direction: column;

}

.img-player {
    width: 230px;
    height: 200px;
}

.player-stats {
    background-color: rgb(72, 72, 192);
    width: 210px;
    height: 310px;
    display: flex;
    flex-direction: column;
    font-weight: 200;
    padding: 10px;
}
.container-stats {
    display: grid;
    grid-template-columns: 1fr 80px 30px;
    align-items: center ;
    
}


.container-stats-e {
    display: flex;
    justify-content: space-between;
    align-items: center ;
    
}

.all-stats {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.stats-text {
   
    
}

.enemy {
    display: flex;
    flex-direction: column;
}

.img-enemy {
    width: 230px;
    height: 200px;
}

.enemy-stats {
    background-color: rgb(190, 71, 190);
    width: 210px;
    height: 310px;
    display: flex;
    flex-direction: column;
    font-weight: 200;
    padding: 10px;
}